/*Text Selection Color*/

::-moz-selection {
	color: rgb(255, 255, 255);
	background: rgb(128, 128, 128);
}

::selection {
	color: rgb(255, 255, 255);
	background: rgb(128, 128, 128);
}

html,
body {
	background-image: none !important;
	background-color: rgb(40, 42, 54) !important;
}

/* text*/
body * {
	color: rgb(255, 255, 255);
	background-color: rgb(40, 42, 54) !important;
	font-family: "Roboto", sans-serif;
	text-align: center;
	/* All text should be aligned to center, unless manually overriden */
	overflow-x: hidden;
}

a,
a * {
	color: rgb(80, 250, 123) !important;
	background-color: transparent !important;
}

a:hover,
a:hover *,
a:visited:hover,
a:visited:hover *,
span[onclick]:hover,
div[onclick]:hover,
[role="link"]:hover,
[role="link"]:hover *,
[role="button"]:hover *,
[role="menuitem"]:hover,
[role="menuitem"]:hover *,
.link:hover,
.link:hover * {
	color: rgb(241, 250, 140) !important;
}

a:visited,
a:visited * {
	color: rgb(98, 114, 164) !important;
}

/* Text that becomes yellow */

h1,
h2,
h3,
h4,
h5,
h6,
strong,
u,
[id*="headline"],
[class*="headline"],
[id*="header"],
[class*="header"],
[class*="header"] td {
	color: rgb(255, 184, 108) !important;
}

table {
	background-color: rgb(40, 42, 54) !important;
}

[id*="overlay"],
[id*="lightbox"],
blockquote {
	background-color: rgb(68, 71, 90) !important;
}

pre,
dl {
	background-color: rgb(68, 71, 90) !important;
}

input,
select,
button,
[role="button"],
a.button,
a.submit,
a.BigButton,
a.TabLink,
.install[onclick] {
	text-indent: 5px;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	background: rgb(68, 71, 90) !important;
}

textarea {
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	background: rgb(68, 71, 90) !important;
}

div,
ul,
li {
	background-image: none !important;
}

a.highlight,
a.highlight *,
a.active,
a.active *,
.selected,
.selected *,
[href="#"] {
	font-weight: bold !important;
	color: rgb(139, 233, 253) !important;
}

.bottom-of-home {
	text-align: center;
	padding-top: 400px;
}
